.row
  .col-md-6
    .panel.panel-primary
      .panel-heading
        Panel Heading
      = simple_form_for @transaction, :html => { :class => '' } do |f|
        = f.input :shares
        = f.input :price
        = f.input :commission
        = f.association :type, :label => 'Type', :collection => TRANSACTION_TYPES
        .actions
          = f.submit :class => "btn btn-action", :style => 'margin-top:15px;'
