.container
  .row
    %h1 Listing transactions

    .column
      %table.table
        %thead
          %tr
            %th Date
            %th Type
            %th Investment
            %th Shares
            %th Price
            %th Commission
            %th Amount
            %th Actions
            
        %tbody
          - @transactions.each do |transaction|
            %tr
              %td= transaction.ddate
              %td= transaction.type
              %td= transaction.investment.symbol if transaction.subtype == 'Trade'
              %td= transaction.shares
              %td= transaction.price
              %td= transaction.commission
              %td= transaction.amount
              %td
                = link_to 'Edit', edit_transaction_path(transaction)
                &nbsp;&nbsp;
                = link_to 'Destroy', transaction_path(transaction), :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Transaction', new_transaction_path
