%h1 Listing transactions

%table
  %thead
    %tr
      %th Type
      %th Subtype
      %th Investment
      %th Account
      %th Holding
      %th Ddate
      %th Amount
      %th Cash delta
      %th Note
      %th
      %th
      %th
      
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.type
        %td= transaction.subtype
        %td= transaction.investment
        %td= transaction.account
        %td= transaction.holding
        %td= transaction.ddate
        %td= transaction.amount
        %td= transaction.cash_delta
        %td= transaction.note
        %td= link_to 'Show', transaction
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
