%p#notice= notice

%p
  %b Type:
  = @transaction.type
%p
  %b Subtype:
  = @transaction.subtype
%p
  %b Investment:
  = @transaction.investment
%p
  %b Account:
  = @transaction.account
%p
  %b Holding:
  = @transaction.holding
%p
  %b Ddate:
  = @transaction.ddate
%p
  %b Amount:
  = @transaction.amount
%p
  %b Cash delta:
  = @transaction.cash_delta
%p
  %b Note:
  = @transaction.note

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
