= simple_form_for(@trade) do |f|
  = f.error_notification

  .form-inputs
    = f.input :type
    = f.input :subtype
    = f.association :investment
    = f.association :account
    = f.association :holding
    = f.input :ddate
    = f.input :shares
    = f.input :price
    = f.input :commission
    = f.input :amount
    = f.input :cash_delta
    = f.input :shares_delta
    = f.input :shares_before
    = f.input :shares_after
    = f.input :note

  .form-actions
    = f.button :submit
